.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: repeat;
  height: 80vh;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 0.7s ease;
}

.panel h3 {
  color: white;
  font-size: 24px;
  font-style: italic;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
}

/* relative 複習
flex 複習
css 單位複習
 */
